<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGNRMgmix8oPk-dLovh5C4t8S0Qluf8Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>450772673983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartFormationProjet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smart-formation-projet</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-formation-projet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450772673983:ios:19468da831f69829d1ed0a</string>
</dict>
</plist>